# Logs
logs
*.log

# Temporary files
.DS_Store

# Node modules
node_modules

# Sass cache
.sass-cache
.tscache

# Grunt intermediate storage
.grunt

# Artifacts folder with generated content
artifacts

# Generated distribution files
public
export
source/anwr-frontend_html_templates
# PhpStorm/Webstorm project files
.idea

# netbeans
nbproject/private/private.properties
nbproject/project.properties
nbproject/project.xml
nbproject/private/private.xml


